<div class="step-wrapper">
    <div class="step-inner page-fragment">
        <div id="ember2538" class="html-content rich-text-viewer ember-view" data-processed=""><!----><span><p>Цена на товар может быть долгое время выше равновесной, когда государство</p></span>
        </div>
    </div>
</div>
<section class="attempt-wrapper__body">
    <div class="page-fragment">
        <div class="attempt__inner">
            <div id="code-run__notify" class="attempt__code-run-notify" hidden=""></div>
            <div class="attempt">
                <div id="ember2549" class="quiz-plugin ember-view">
                    <div class="show-plugin">
                        <div data-state="no_submission" data-type="choice-quiz" id="ember2550"
                             class="quiz-component ember-view"><label class="s-radio">
                            <input class="s-radio__input" name="ember2550" type="radio">
                            <span class="s-radio__border">
      <span class="s-radio__circle"></span>
    </span>
                            <span class="choice-quiz-show__option s-radio__label">не вмешивается в процесс ценообразования</span>
                        </label>
                            <label class="s-radio">
                                <input class="s-radio__input" name="ember2550" type="radio">
                                <span class="s-radio__border">
      <span class="s-radio__circle"></span>
    </span>
                                <span class="choice-quiz-show__option s-radio__label">поддерживает производителей товара</span>
                            </label><label class="s-radio">
                                <input class="s-radio__input" name="ember2550" type="radio">
                                <span class="s-radio__border">
      <span class="s-radio__circle"></span>
    </span>
                                <span class="choice-quiz-show__option s-radio__label">поддерживает малообеспеченных покупателей</span>
                            </label></div>
                    </div>
                </div>
            </div>
            <div class="attempt__actions">
                <button class="submit-submission" type="button" data-ember-action="" data-ember-action-2551="2551">
                    Отправить
                </button>
            </div>
        </div>
    </div>
</section>