table {
    border-collapse: collapse;
}

table th, table td {
    padding: 2px;
}


.btn-trash{
    min-width: 40px;
    max-width: 40px;
    margin: 0;
        vertical-align: middle;
        cursor: pointer;
        font-family: inherit;
        line-height: 1;
        position: relative;
        text-decoration: none;
        text-align: center;
        border: 1px solid transparent;
        display: inline-block;
        /* padding: 0.75em 1.5em; */
        font-size: 16px;
        background-color: #54ad54;
        color: #fff;
        transition: background-color .2s,var(--focus-outline-transition);
        border-radius: 0.25em;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        --focus-outline-color: rgba(51, 204, 51, 0.3);
    }
}
lesson-my_sidebar_wrapper {
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: space-between;
    /* padding: 1em; */
    font-weight: 700;
}

header-font {
    font-weight: bold;
}

.about {
 display:inline-block;
}
.outer {
    width: 90px;
    height:219px;
    text-align: left;
    vertical-align: middle;
}
.inner {
    width: 92%;
    max-width:300px;
    height:219px;
}

.table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse;
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.table td {
	border: 1px solid #dddddd;
	padding: 5px;
}
.form-table {
 display:inline-block;
}

.s-checkbox .s-checkbox__input:disabled+.s-checkbox__border {
    background: #eee!important;
    border-color: #ccc!important;
}
.s-checkbox .s-checkbox__border {
    position: relative;
    width: 1.0625em;
    height: 1.0625em;
    border: 1px solid #ccc;
    border-radius: 0.1875em;
    vertical-align: middle;
    text-align: center;
    background: #fff;
    transition: border-color .3s;
    top: 0.2em;
}
ref-color {
    color: #ffffff !important;
}
dropbtn {
    background-color: #4CAF50 !important;
    color: white !important;
    padding: 16px !important;
    font-size: 16px !important;
    border: none !important;
}

/* The container <div> - needed to position the dropdown content */
dropdown {
    position: relative !important;
    display: inline-block !important;
}

/* Dropdown Content (Hidden by Default) */
dropdown-content {
    display: none !important;
    position: absolute !important;
    background-color: #f1f1f1 !important;
    min-width: 160px !important;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) !important;
    z-index: 1 !important;
}

/* Links inside the dropdown */
dropdown-content a {
    color: black !important;
    padding: 12px 16px !important;
    text-decoration: none !important;
    display: block !important;
}

/* Change color of dropdown links on hover */
dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
dropdown:hover .dropbtn {background-color: #3e8e41;}

hidden {
    display: none;
}